[2020-07-31 03:32] crossle opened #1 "Use Dart instead of Go implement the XEdDSA signature"
Now we use Dart ffi call Go for XEdDSA signature, we should use Dart implement it

[code]

[2020-08-04 20:46] xni06 opened #2 "file system relative paths not allowed in hardened programs"
When running `pub run test`, `libgodart.so`cannot be found and the stacktrace contains `file system relative paths not allowed in hardened programs`

[code]

[code]

[2020-08-04 20:48] xni06 commented on #2
This type of error has already been reported [here](https://github.com/dart-lang/samples/issues/45)

The solution is to run the following:

[code]

[2020-08-04 20:50] xni06 opened #3 "Unit tests fail - should they?"
[code]

[code]

[code]

[2020-08-04 21:39] xni06 opened #4 "Failed to load dynamic library (Flutter app)"
By cut'n pasting your example code into a default Flutter app, it fails as it is unable to load the dynamic library. I would appreciate it if you could advise as to what additional steps I should take beyond what is stated in https://pub.dev/packages/libsignal_protocol_dart/install

Thanks.

[code]

[code]

**pubspec.yaml**
[code]

**main.dart**
[code]

[2020-08-05 02:02] crossle commented on #3
Yes, some testing still not work, but not affect the main feature. welcome contribute

[2020-08-05 02:05] crossle commented on #4
https://github.com/MixinNetwork/libsignal_protocol_dart/issues/1

[2020-08-05 04:39] #2 closed, assigned to nobody

[2020-08-06 18:40] rhisiart-cufflink commented on #1
@crossle The dart code above - exactly what state is it in? Anything missing?

[2020-08-10 15:08] Tougee commented on #1
https://github.com/MixinNetwork/libsignal_protocol_dart/pull/5

[2020-08-10 15:14] Tougee commented on #4
This will be fixed in the next release after this https://github.com/MixinNetwork/libsignal_protocol_dart/pull/5 merge.

[2020-08-11 14:14] #1 closed, assigned to nobody

[2020-08-11 14:14] #4 closed, assigned to nobody

[2020-09-07 12:40] peter100u opened #7 "InMemorySessionStore"
InMemorySessionStore 看了很多资料都是内存保存这个store， 开发中是不是要放到数据库中InDbSessionStore，网上对于signal  的资料太少了，也没有 demo看，有好的建议吗，一个开发im 老鸟

[2020-09-07 12:45] ghost commented on #7
We have implemented all store interfaces using [get_storage](https://pub.dev/packages/get_storage) for our demo app - we might be able to make it available to the public at some point.

[2020-09-08 14:58] Tougee commented on #7
Hi, @superLiuYiPeng.
Depending on your use case, most of the time you should use a database based SessionStore like SignalApp or MixinMessenger dose.

https://github.com/MixinNetwork/android-app/tree/master/app/src/main/java/one/mixin/android/crypto/storage

[2020-09-10 01:38] #7 closed, assigned to nobody

[2020-10-12 13:45] ghost opened #12 ".gitignore should be configured for a library rather than an application"
For example, take a look at @Tougee's [ed25519](https://github.com/Tougee/ed25519/blob/master/.gitignore) library.

As such, the `pubspec.lock` should be deleted

[2020-10-13 04:45] #12 closed, assigned to nobody

[2020-10-13 04:50] crossle commented on #12
Done.

https://dart.dev/guides/libraries/private-files#the-rules

[2020-10-28 09:14] sabin26 opened #15 "Decryption works first time but throws "InvalidKeyIdException - No such prekeyrecord!" if recalled"
[code]
Encryption works every time I call encrypt() function but decrypt() function works only the first time. The second or third time I call this function it throws: "**InvalidKeyIdException - No such prekeyrecord! - 2**"

![Error](https://user-images.githubusercontent.com/61322712/97415703-ab1d9f00-192d-11eb-99bd-5d13726e9f1a.png)

[2020-10-28 09:55] xni06 commented on #15
- Alice sends msg to Bob using the preKey from his bundle - `otherKeyBundle` in your example
- Bob decrypts msg and deletes the preKey from his local store
- Alice sends another msg to Bob using the same preKey that she used the first time - however, Bob has deleted it on his side hence the `InvalidKeyIdException`

**Solution**
- Prevent Alice from sending subsequent messages to Bob until Bob repl

[2020-10-28 11:03] sabin26 commented on #15
The secure channel is established by calling `sessionBuilder()` and processing it with the Bob's `preKeyBundle` before any message is sent or received. After establishing the session, Alice can use `encrypt()` to send SignalMessage and `decryptFromSignal()` to receive Bob's message. Is this the correct way of implementation ?

[2020-10-28 11:21] xni06 commented on #15
The channel is not secure until Bob has replied to Alice. Once established, the ratcheting mechanism takes place to keep keys in sync.

Take a look at [test/session_builder_test.dart](https://github.com/MixinNetwork/libsignal_protocol_dart/blob/master/test/session_builder_test.dart)

[2020-10-28 13:40] sabin26 commented on #15
Can you please provide a sample working code or maybe edit my initial code. I am a beginner in this and the documentation around implementing signal protocol is very restricted. I even checked the original java github page but did not find anything useful. Any help is highly appreciated.

[2020-10-28 13:43] xni06 commented on #15
Take a look at [test/session_builder_test.dart](https://github.com/MixinNetwork/libsignal_protocol_dart/blob/master/test/session_builder_test.dart)

[2020-10-28 14:12] crossle commented on #15
Mixin Messenger also use Signal Protocol, take a look
https://github.com/MixinNetwork/android-app/blob/master/app/src/main/java/one/mixin/android/crypto/SignalProtocol.kt

[2020-10-28 14:58] sabin26 commented on #15
I somehow managed to make my code work. Thank you for your help @xni06 and @crossle

[2020-10-28 14:58] #15 closed, assigned to nobody

[2020-11-17 09:04] robojones opened #16 "GPL-License and its implications"
I want to use this library in an open-source application. However, I don't want to release my work under GPL-3 because I don't like the license.

Does an application using your library constitute a derivative work and can it be released under a different open-source license?
Namely, I would prefer the MIT or Apache-2 license.

[2020-11-17 09:15] xni06 commented on #16
Just out of interest, what exactly is it that you don't like regarding the existing licence?

[2020-11-17 10:30] robojones commented on #16
I don't like GPL because there is lots of **uncertainty** in the open-source community about the legal implications of using it.
When googling it I was unable to get a clear answer on what limitations apply to my software when I am using a GPL-3 library.

In contrast to this, **most people know** that MIT or Apache-2 licensed software can be used without limitations. Products which are using MIT o

[2020-11-17 14:59] crossle commented on #16
Good suggestion, use GPLv3 just like https://github.com/signalapp/libsignal-protocol-java.
Any other suggestions?

[2020-11-17 16:47] steebchen commented on #16
I agree that a more permissive license such as MIT would be a greater fit for this library and would attract more users and contributors to the project.

[2020-11-17 18:05] robojones commented on #16
@steebchen thanks for the suggestion. Here is a PR for this.

[2020-11-18 02:25] crossle commented on #16
Thanks. Merged

[2020-11-18 02:25] #16 closed, assigned to nobody

[2020-12-01 11:40] ceojazzy opened #18 "Does this uses Double ratchet by default or we have to make that ourselves?"

[2020-12-01 11:54] xni06 commented on #18
It uses double-ratchet by default

https://github.com/MixinNetwork/libsignal_protocol_dart/tree/master/lib/src/ratchet

[2020-12-07 20:25] ceojazzy commented on #18
thankyou for the answer.
can you also tell if this uses Curve25519?
thanks

[2020-12-07 21:03] xni06 commented on #18
It uses [ed25519](https://github.com/MixinNetwork/libsignal_protocol_dart/pull/5)

[2020-12-07 21:39] ceojazzy commented on #18
So the keys are generated randomly? i have seen some articles where they says that ed25519 is hackable rather than the x25519. this will be my last silly of questions for sure.

[2020-12-09 21:54] ceojazzy commented on #18
?

[2020-12-11 03:39] crossle commented on #18
The key is curve25519. It's random.

[2020-12-11 07:31] vishal-android-freak opened #19 "No legalities involved as this is under MIT license and the Signal protocol is GPLv3?"
We are planning to write a Flutter app which is closed source. I came across this implementation of the Signal protocol and was wondering if this is okay considering no infringement of any license as this is published under MIT. You have mentioned the algorithms as references but is it okay to reproduce the same and put it under MIT?

[2020-12-12 13:30] ceojazzy commented on #18
So random is hackable? @crossle

[2020-12-13 02:58] Tougee commented on #18
Random does not mean hackable. The things you care about  are not actually associated with this project, you can check out the signal protocol information [here](https://signal.org/docs/).

[2020-12-13 02:58] #18 closed, assigned to nobody

[2020-12-13 03:21] Tougee commented on #19
IMO, the GPL is a software license, which means it only affects signal protocol libraries, not the protocol itself. So I think you can use this library in a closed source project.
But if your project is not open source, how can you prove to your users that you are using this protocol library?

[2020-12-13 14:52] vishal-android-freak commented on #19
Excellent point. We are very confused on similar points. It will be a make
or break decision for us when we go ahead with it. I was making sure we
don't end up in trouble over the course of time.

On Sun, 13 Dec, 2020, 8:51 am Tougee, <notifications@github.com> wrote:

[2020-12-19 12:36] cedricfung commented on #19
So discussions suggest a translation of source code from a language to another, should be treated as a modification. Thus should remain GPL.

https://stackoverflow.com/questions/1723606/should-translations-of-some-gpl-code-to-other-languages-be-licensed-as-gpl

https://www.reddit.com/r/programming/comments/94446/ask_proggit_porting_a_gpl_project_to_a_new/

Not a lawyer.

[2020-12-19 15:14] cedricfung commented on #16
https://github.com/MixinNetwork/libsignal_protocol_dart/issues/19

[2021-01-11 15:27] #19 closed, assigned to nobody

[2021-01-18 14:02] alsiPanda opened #21 "How to share public keys"
I am trying to use libsignal in my flutter web app, and currently facing this problem. I need to save the public keys and share them with a different user. My current approach is to serialize the key, convert to string, put it in a map<string, string>, jsonEncode the string and finally save it on server. Problem is when retrieving the key, i get this error `Error: Expected a value of type 'ECPubli

[2021-01-18 14:48] xni06 commented on #21
As a quick pointer, you need to make use of a `DjbECPublicKey` to create a `ECPublicKey`:

[code]

[2021-01-20 12:56] alsiPanda commented on #21
Thanks @xni06 , that worked like a charm.
I have one more query/doubt. Can I use `session.encrypt` to encrypt images and videos as well, since it accepts uint8list as input. If so can the decrypted bytes be directly used to reconstruct the media. Does Signal app do it the same/similar way ?

[2021-01-20 13:02] xni06 commented on #21
Sorry, I don't know.

[2021-01-27 07:15] sky-flutter opened #22 "Unhandled Exception: Assertion failed: Instance of 'InvalidKeyException'"
I just copy the code from pub.dev in my project and run the project this error I got.

[2021-01-27 08:44] xni06 commented on #22
What error?

[2021-01-27 15:06] Tougee commented on #21
Hi @alsiPanda,
Signal does not use `session.encrypt` for encrypting large media data, they just use another random bytes for media encryption, and use signal keys to encrypt the media key and media digest.
If you want to know more about it, you can search `AES/CBC + HMAC` or `AES/GCM` for more information.

[2021-01-27 15:56] alsiPanda commented on #21
Thanks @Tougee, I recently read something similar in Whatsapp whitepaper.

[2021-01-27 15:56] #21 closed, assigned to nobody

[2021-01-27 16:13] alsiPanda opened #23 "Instance of 'InvalidKeyException'"
I am getting the following error when tryng to encrypt text:

     #0      SessionState.getSenderRatchetKey (package:libsignal_protocol_dart/src/state/SessionState.dart:103:7)
     #1      SessionCipher.encrypt (package:libsignal_protocol_dart/src/SessionCipher.dart:59:40)
     #2      SignalProtocol.sessionEncrypt (package:Okuna/services/signal_protocol.dart:166:50)
     #3      OBDConversationSt

[2021-01-27 16:59] xni06 commented on #23
I see that you're not making use of the `SignalProtocolStore`  - take a look at how it should be used.

Then, in your `sessionEncrypt` method, instead of doing the following:

[code]

... do something like this instead:

[code]

[2021-01-27 20:23] alsiPanda commented on #23
Thanks @xni06 , That solved my encryption problem. But now I am getting an error while decrypting.

This is my decrypt function, which is probably where I messed up, but no idea how :

` String sessionDecrypt(PreKeyBundle recievedBundle, String username, String ciphertext){
    final remoteAddress = SignalProtocolAddress('remote', 1);

    if (!spStore.containsSession(remoteAddress)) {
      Sessi

[2021-01-27 20:55] alsiPanda commented on #23
Thanks @xni06 , The encryption part seems to be working with this. The decryption part is giving the following error:

The code for my decryption is :

    String sessionDecrypt(PreKeyBundle recievedBundle, String username, String ciphertext){
        final remoteAddress = SignalProtocolAddress('remote', 1);
        if (!spStore.containsSession(remoteAddress)) {
          SessionBuilder.fromSignal

[2021-01-27 21:24] xni06 commented on #23
Similar to when encrypting a message - it all depends on whether your store contains a session or not. In the case of decrypting:

[code]

Yes

[2021-01-28 04:47] sky-flutter commented on #22
I changed my code and thereafter I got  **invalidkeyexception**

[2021-01-28 05:25] alsiPanda commented on #23
Thanks @xni06 , I have made the changes, but now getting the following error on the recieving end:

 message contained an invalid tag (zero).

I am converting the encrypted message from Uint8List to String using `String.fromCharCodes(ciphertext.serialize())` and send this via websocket. On the reciever end I am using

    String sessionDecrypt(PreKeyBundle recievedBundle, String username, String c

[2021-01-28 07:55] xni06 commented on #23
Are there any obvious differences in approach between your implementation and that of the existing unit tests?

- [session_cipher_test.dart](https://github.com/MixinNetwork/libsignal_protocol_dart/blob/master/test/session_cipher_test.dart )
- [session_builder_test.dart](https://github.com/MixinNetwork/libsignal_protocol_dart/blob/master/test/session_builder_test.dart)

[2021-01-28 20:03] woinbo commented on #23
Hey, @xni06 I am not getting how to implement this package into my flutter chatting app. Can you please guide me on how to implement signal protocall?

[2021-01-28 20:04] woinbo commented on #22
The same happened to me too!!!

[2021-01-28 20:07] woinbo commented on #22
@xni06  This is the error coming...

E/flutter (23216): [ERROR:flutter/lib/ui/ui_dart_state.cc(186)] Unhandled Exception: Assertion failed: Instance of 'InvalidKeyException'
E/flutter (23216): #0      SessionState.getSenderRatchetKey
package:libsignal_protocol_dart/…/state/SessionState.dart:103
E/flutter (23216): #1      SessionCipher.encrypt
package:libsignal_protocol_dart/src/SessionCipher.dart:

[2021-01-28 21:52] xni06 opened #24 "Example code does not work"
While not an issue for me personally, the [example](https://github.com/MixinNetwork/libsignal_protocol_dart/blob/master/example/main.dart) does not work:

[code]

[2021-01-28 22:00] xni06 commented on #22
It doesn't look like the example app works - see #24

However, the unit tests do work and it is from those that I figured out how to integrate the library into my Flutter app and to also use Firebase as the Serverless backend.

Take a look at how the library has been used in the following tests:

- [session_cipher_test.dart](https://github.com/MixinNetwork/libsignal_protocol_dart/blob/master/test/

[2021-01-28 22:12] woinbo commented on #22
All tests pass! but then too it's giving the error. What should be done now ??

[2021-01-28 22:52] xni06 commented on #22
There's no error when the tests are run - there's an invalid test hence why it's been marked as being skipped.

Look at the `runInteraction` method in the above tests as they exchange messages in there.

In essence, all this library does is to provide you with the API calls to encrypt/decrypt messages in precisely the same way as its Java counterpart, [libsignal-protocol-java](https://github.com/s

[2021-01-29 02:52] crossle commented on #24
The example not a complete process

[2021-01-29 09:03] xni06 commented on #24
Perhaps the code should be documented to help others know what they should expect to see when they run it to avoid confusion.

[2021-01-31 07:53] woinbo commented on #22
please sir, do update the readme file or example on how to set up this as I really need signal e2e in my app. It's a humble request

[2021-01-31 13:54] xni06 commented on #22
Please add your comment to the issue linked above as I do not own this repository - I'm just a consumer like yourself.

[2021-01-31 18:21] woinbo commented on #24
Hey mixinNetwork, Please update the example as it is not the correct way to implement this protocol and even the readme file is not documented properly it is becoming really hard to use this protocol.

[2021-02-02 03:00] crossle commented on #24
Example run ok now.

[2021-02-02 04:52] crossle commented on #23
Example work now.

[2021-02-02 08:35] #24 closed, assigned to nobody

[2021-02-02 08:38] woinbo commented on #24
Thank you @crossle , it did worked now

[2021-02-02 11:33] #23 closed, assigned to nobody

[2021-02-02 11:33] crossle commented on #22
@sky-flutter try the latest example

[2021-02-02 11:45] woinbo commented on #22
I tried the latest example and tried to decrypt the "ciphertext", but it shows this error Instance of 'UntrustedIdentityException'

[2021-02-02 11:46] woinbo commented on #22
[code]

[2021-02-02 14:52] xni06 commented on #22
Take a look at this and work your way up the thread: https://github.com/MixinNetwork/libsignal_protocol_dart/issues/23#issuecomment-768587011

[2021-02-02 15:06] crossle commented on #22
https://github.com/MixinNetwork/libsignal_protocol_dart/commit/c6326d180b8065c63e9bf1fc00d3426068c8b02e

[2021-02-08 18:50] woinbo opened #25 "not an issue but a suggestion"
Can you guys make a YouTube video on how to implement this package into a real life app like very simple chatting app just having chatting and end to end encryption using signal. This will be really helpful to the community. Thank you!!

[2021-02-09 02:23] crossle commented on #25
We are working on using this library for our desktop app. It's will open source.

[2021-02-09 02:28] #25 closed, assigned to nobody

[2021-02-15 06:05] sky-flutter opened #26 "How to handle emoji while encryption/decryption?"
Hey, I try encryption and decryption with text, and it works perfectly. But when I add emoji in the text the emoji could not get decrypt in Unicode or in another format. So can you please guide me on how can handle emoji in the text?

[2021-02-15 13:09] #22 closed, assigned to nobody

[2021-02-18 05:54] crossle commented on #26
Example https://github.com/MixinNetwork/libsignal_protocol_dart/commit/65c4a45a514aa4130ed8982351b6fa7492e759bf

[2021-02-19 09:03] #26 closed, assigned to nobody

[2021-02-23 07:41] sky-flutter commented on #26
Okay, It works for me. Thanks.

[2021-02-28 17:13] woinbo commented on #25
any update on this, when this project is going to be open source?? @crossle

[2021-03-01 02:13] crossle commented on #25
Working on it.

[2021-03-03 19:19] doc-dev opened #27 "optional one-time prekey"
The documentation is not clear enough. The official Signal documentation of X3DH (https://signal.org/docs/specifications/x3dh/) says that the one-time prekey are optional. However it seems that in the current implementation there must be necessarily a pre-key bundle.

I was wondering how to manage the various keys at a lower level, so that I can create a JSON that can be sent to my backend

[2021-03-04 02:30] crossle commented on #27
The pre-key id and pub key can null on PreKeyBundle.

Use persistence method, store in file or like objectbox-dart

[2021-03-12 01:22] Ahmadre commented on #25
I don't understand your concerns...libsignal is based on Signal Protocol and have therefore the same Licence like Signal. So it is already Open-Source

[2021-03-12 01:28] Ahmadre commented on #19
Exactly! This library is open source and you guys can use it! I started earlier a version of Signal in flutter but @crossle did a much greater job here 💪🏼 so it's still GPLv3 like Signal native implementations.

[2021-03-12 01:40] Ahmadre commented on #18
Nope! This lib uses X25519:

See:
lib/src/ecc/Curve.dart

It's supereasy with the dart packages x25519 and cryptography. Just search on pub.dev and you can make your own algorithms out of them.

[2021-03-12 02:04] crossle commented on #25
We are working to develop an app use this library.

[2021-03-12 03:04] woinbo commented on #25
Actually, I am not talking about this libsignal_protocol_dart, I am referring to the project on which these guys from the mixin network are working on.

[2021-03-26 16:28] rlch opened #29 "Unexpected behaviour from generatePreKeys"
Hey!

[code]
Here, with `generatePreKeys(0, 100)` we would expect an output of `0...99` - according to the Java docs noting `start` as inclusive. However, due to the difference in modulo operators between Dart and Java (Euclidean vs Truncated), the first iteration of the function will give Medium.MAX_VALUE - 1 as the first ID.

A simple fix for this is replacing `%` with `.remainder()`

[2021-03-27 11:42] xni06 commented on #29
Imagine that this library has already been consumed by a project and has generated keys - updating the library would mean that new preKeys  would be generated differently. Would this be an issue?

[2021-03-27 12:19] rlch commented on #29
I don't think it'd be an issue. All it will do is cause a single ID gap, for instance pre update the current pre-key ids are: `101,102`, and post-update generation will give: `101,102,104,105,....`

Fairly certain the ID's themselves have no algorithmic importance beyond uniquely identifying the OTK, so I personally think it's fine.

[2021-03-29 14:03] lucasjinreal opened #32 "documentation about how's the API designed and what every feild mean in proto?"
documentation about how's the API designed and what every feild mean in proto?

[2021-03-29 14:11] rlch commented on #32
+1, although in the mean time the Java API is pretty extensive! Have a look at that :)

[2021-03-29 14:22] rlch opened #33 "Key serialization issue: InvalidKeyException - Invalid signature on device key!"
Hey,

What's the best way of serializing each key consistently, so that they are properly stored in a database?
I've found that due to combining these bytes,

[code]

you actually end up with 0x05 prepended to the Uint8List when `.serialize()` is called on the key (given that it's a `DjbECPublicKey`). This is causing the `InvalidKeyException` whenever `processPreKeyBundle()` is called.

[2021-03-29 14:28] rlch commented on #33
My bad, @xni06 covered this in #21 - thanks mate!!

[2021-03-29 14:28] #33 closed, assigned to nobody

[2021-03-30 02:27] crossle commented on #32
The API from signal Java library

[2021-03-30 02:32] #29 closed, assigned to nobody

[2021-03-30 03:13] lucasjinreal commented on #32
@crossle Do u have a linnk of it?

[2021-03-30 03:15] rlch commented on #32
https://github.com/signalapp/libsignal-service-java

[2021-03-30 07:25] xni06 commented on #32
Perhaps it would be a good idea to mention in the README that this library is a Dart conversion of https://github.com/signalapp/libsignal-service-java - any complaints regarding documentation/implementation, etc. can then be directed to the source rather than this library.

[2021-04-21 22:42] sohaibaslam127 opened #35 "InvalidKeyException - Invalid signature on device key! on processPreKeyBundle"
when FIRST TIME I send a message for encryption, its return a encrypted message.
but SECOND TIME it throw an error "Invalid signature on device key!"

MyCode:

[code]

That chunk of code throw an exception in file 'SessionBuilder.dart'

[code]

[2021-04-22 06:29] crossle commented on #35
Why you >     sessionStore.deleteSession(bobAddress); ?

[2021-04-25 01:25] woinbo opened #36 "group session unhandled exception"
while running `groupSession()` function complier five error:
[code]

please help!!!

[2021-04-25 02:35] Tougee commented on #36
Check here https://github.com/MixinNetwork/libsignal_protocol_dart/blob/master/test/groups/group_cipher_test.dart#L57

[2021-04-25 03:30] woinbo commented on #35
@siman302 can you please share your project code. I just want to have a look at how to implement this library.

[2021-05-14 06:25] #36 closed, assigned to nobody

[2021-05-14 06:26] #35 closed, assigned to nobody

[2021-05-31 07:58] PaoloP98 opened #39 "Some implementation doubts"
From the example code, I see that this function generates a random number:
`var registerationId = KeyHelper.generateRegistrationId(false);`
Should I save this number in the database to retrieve it later? Must it be unique?
I saw that the deviceid on PreKeyBundle is an integer, in my database I save it as uuid. can I leave "1" as the value?

[2021-05-31 08:12] crossle commented on #39
Yes, you save it to database or other persist location. and upload to server, wait other part request your signal keys.

[2021-05-31 08:42] rlch commented on #39
@PaoloP98 I use `1` as I'm not planning on supporting accounts with multiple devices. If you are, then you should consider saving a [hash](https://pub.dev/packages/crypto) of the user's [device ID](https://pub.dev/packages/device_info_plus) for instance

[2021-05-31 08:49] PaoloP98 commented on #39
must have uniqueness as a constraint?

[2021-05-31 08:50] crossle commented on #39
Recommend unique

[2021-05-31 09:28] #39 closed, assigned to nobody

[2021-06-01 08:07] PaoloP98 commented on #39
What if the random generation generates the same number? What should I do?

[2021-06-01 15:27] rlch commented on #39
This is addressed by hashing the user's device ID, see my comment above

[2021-06-02 10:46] PaoloP98 commented on #39
I didn't understand why to hash the device id. Can you give me some clarification or a source?
Do you mean that even if the registerationId is not unique paired with the device id (unique) it is fine?

[2021-06-24 06:54] crossle opened #40 "Benchmark encrypt and decrypt"
Before we use golang library for ed25519, and dart ffi call it, but not good for multiple platform support.
Now we use pure dart encrypt and decrypt ed25519, should we compare with use rust implements the ed25519 with dart ffi?

[2021-07-01 18:23] crossle commented on #40
https://github.com/ilap/pinenacl-dart

[2021-07-02 03:09] Tougee commented on #40
Add benchmark for ed25519 https://github.com/Tougee/ed25519#Benchmark

[2021-07-02 06:30] Tougee commented on #40
[Pure Dart benchmark branch](https://github.com/MixinNetwork/libsignal_protocol_dart/tree/benchmark)
[FFI benchmark branch](https://github.com/MixinNetwork/libsignal_protocol_dart/tree/ffi-benchmark)

| type |    rate    | iterations    |   time  | data throughput |
|----------|:----------:|---------------|:-------:|:---------------:|
| Pure Dart JIT sign | 55.08 MB/s | 276 iterations | 5010 ms |

[2021-07-25 07:17] #27 closed, assigned to nobody

[2021-08-18 08:08] RahulAlchemy opened #42 "Expected a value of type 'int', but got one of type 'double' flutter web"
I'm trying integrate Signal protocol in flutter web .

I get this error
  `Expected a value of type 'int', but got one of type 'double'`

When i call this method
 //3.0.0 nullsafety  version
 `KeyHelper.generateSignedPreKey(identityKeyPair, signedPreKeyId);`

//0.5.3 version
`generateSignedPreKey(identityKeyPair, signedPreKeyId);`

on both version I get same issue.

I was able to trace the issue.

[2021-08-21 02:25] Tougee commented on #42
Some libraries we use in this code base are incompatible with dart2js, so we made some modifications to this workaround, but we can't merge them into the main branch because the changes lack performance.

You can use this library for the Flutter web app as shown below for now, until we find a better way to do it.
[code]

[2021-08-24 12:48] RahulAlchemy commented on #42
@Tougee  it worked but it is kinda slow.

[2021-08-25 02:56] Tougee commented on #42
I think that's all for now :(

[2021-09-06 12:40] lemoony commented on #42
Hi @Tougee ,

have you had a look at https://pub.dev/packages/cryptography by any chance? It did a quick test with it in the browser and to me it seems like that curve25519 is working with better performance. However, the interface is quite different and thus, would require some refactoring i guess...

[2021-09-07 14:08] Tougee commented on #42
We tried using that lib but lacked some APIs to implement [this part](https://github.com/MixinNetwork/libsignal_protocol_dart/blob/master/lib/src/ecc/ed25519.dart).

[2021-09-12 08:47] lemoony commented on #42
Hi @Tougee  & @RahulAlchemy

i was able to boost performance on the web significantly. I have created a simple example app to demonstrate how it works:

https://github.com/lemoony/signal_protocol_example_app

In total, i made the following changes:

- Forks of `ed25519_edwards` and `x25519` which only use a kind-of `BigInt` data type on the web, but the normal Dart `int` type on all other platform

[2021-09-12 09:15] Tougee commented on #42
I'm just glancing at it now, and it seems to be a delightful solution to the problem. I'll take a deeper look soon and give you a response.

[2021-09-12 10:42] crossle commented on #42
Good idea for web. Welcome contribute the PR

[2021-09-12 14:04] #32 closed, assigned to nobody

[2021-09-13 03:56] Tougee commented on #42
Hi @lemoony

I have run tests and benchmarks of the libraries you fork which work perfectly, please PR for this, so we can check if some details need polishing.
Thanks for your deep investigation into this!

[2021-09-13 07:08] lemoony commented on #42
Thanks for the quick feedback! I've started to create a Draft PR : #43
It's still a draft since I suggest to wait and see if the other PRs mentioned in it are merged into the main branch. If you want me to mark it as ready for review anyway, just say so.

[2021-09-23 09:17] crossle commented on #40
How about the new Ed25519 version? @Tougee

[2021-10-04 10:36] PrinceVergil opened #45 "RangeError (index): Index out of range: no indices are valid: 0"
Hello,
I am getting Index out of range exception while encrypting message with bobGroupCipher in group session.

below is code i am using:

    void TestGroup() async {

    final senderAddress = SignalProtocolAddress('+00000000001', 1);
    final groupSender = SenderKeyName('Private group', senderAddress);

    final aliceStore = InMemorySenderKeyStore();
    final bobStore = InMemorySenderKeySto

[2021-10-05 19:09] mpweya opened #46 "UntrustedIdentityException"
I want to create an encrypted chat app. In the example below which reproduces the error, Bob and Jean want to send a message to Alice. The first message (in this case from Bob) can be decrypted without any problems, but the second message (from Jean) fails with the following `UntrustedIdentityException` exception:

[code]

This is the code I used to reproduces the error:

[code]
How can I resolve

[2021-10-07 22:52] crossle commented on #45
Update the readme and example file https://github.com/MixinNetwork/libsignal_protocol_dart#building-a-group-session

[2021-10-07 23:01] crossle commented on #46
When you create SessionCipher, please use remote address on the last param.

[2021-10-08 13:22] mpweya commented on #46
I followed your introductions but still get an Exception:
[code]

My code now looks the following:
[code]
What am I doing wrong now?

[2021-10-09 05:03] PrinceVergil commented on #45
Hiii  @crossle thanks for updating example but my problem is when I try to encrypt using bobGroupCipher  I get` Index out of range: no indices are`...  I am missing something. can you help with this.

[2021-10-10 02:50] crossle commented on #45
You should use different sender and bobSessionBuilder.create sender key, then encrypt.

[2021-10-10 03:04] crossle commented on #46
When you create SessionBuilder should use remote address on the last param.
[code]

[2021-10-10 06:10] PrinceVergil commented on #45
Correct me If I am wrong.. So you are saying every group member must share there DistributionMessage to each other.

[2021-10-11 12:57] mpweya commented on #46
Now it works, thanks!
I after that got `InvalidKeyIdException - No such prekeyrecord! - 0` which was fixed by using the preKey index 1 (or any one that wasn't used before, since pre keys can only be used once) on the `jeanSessionBuilder`. For everyone interested, this is the now fixed and working code:

<details>
  <summary>Click to expand</summary>

[code]
</details>

[2021-10-11 12:57] #46 closed, assigned to nobody

[2021-10-13 03:52] crossle commented on #45
Yes, share DistributionMessage each other on group

[2021-10-14 14:45] mpweya opened #47 "RangeError - Group session with multiple participants"
Can you provide and example with 3 group participants all sending a message? I can't get it to work for me. This is my code right now:
[code]
Which throws the following exception:
[code]

[2021-10-14 14:57] mpweya commented on #47
After stumbling on the issue #45 I changed my code a little. I think this approach is much more correct, but still not working. I now get the following exception:
[code]

This is my code now:
[code]

[2021-10-17 08:21] mpweya commented on #45
Hello. Can you please post your now working example? I can't get it to work myself.

[2021-10-21 15:31] mpweya commented on #45
@PrinceVergil have you solved your issue? Can you provide your working example. Or @crossle would you be so nice and write a quick example with multiple users like above?

[2021-10-22 01:01] crossle commented on #45
Sorry for the delay, working on it.

[2021-10-22 16:39] crossle commented on #47
You must use same sender for encrypt and decrypt.
[code]

[2021-10-22 16:43] crossle commented on #45
Who send the sender key message use it's sender key as param.

[2021-10-23 09:00] mpweya commented on #47
Thanks for the example. I now understood how to use it. This is my now working code from above with 3 group members all able to chat with one another:

<details>
<summary>Click to expand (to keep this post a little bit shorter)</summary>

[code]
</details>

But I've another question. When you take e.g. Signal Messenger, this GroupSession, GroupCipher and all would resemble the legacy groups in Sig

[2021-10-23 09:06] mpweya commented on #45
Thanks, was able to get it to work. This would be a working example (for anyone interested):
[code]

[2021-10-24 07:38] PrinceVergil commented on #45
@McCrafterIV  Thanks for the example I was busy in other stuff I look into it.

[2021-12-02 14:42] mpweya commented on #47
@crossle are you able to help me?

[2021-12-03 12:38] Tougee commented on #47
This will just use the cache instead of creating a new `KeyDistributionMessages`.

For more info about group messaging you can read this paper
[A Security Analysis of the Signal Protocol’s Group Messaging Capabilities in Comparison to Direct Messaging](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwjA7Y2M0cf0AhVJCt4KHTsMAFsQFnoECAMQAw&url=https%3A%2F%2Fir.library.oregons

[2021-12-03 14:18] mpweya commented on #47
I thought of something like that, so my problem remains. How can I start a new session or continue the old one without Dean in this example?

Thanks for the document, I'll look into it. I han't had the time to read the full paper yet but as far as I scanned it, I couldn't find an answer to my question. If you've a deeper understanding of the implementation @Tougee maybe you could explain to me in

[2021-12-04 01:53] Tougee commented on #47
In this demo you can just create new `SenderKeyStore` for remaining members, and Dean can not decrypt later messages.
[code]

[2021-12-04 02:05] Tougee commented on #47
Each user in a group being tied to a unique group-ID, and using the direct messaging protocol to communicate with each host under the hood.

Group messaging provider what
- Computational Equality ensures that all chat participants share an equal computational load.
- Trust Equality guarantees that no participant is more trusted or takes on more responsibility than
any other.
- Subgroup Messaging m

[2021-12-10 10:15] mpweya commented on #47
Ok thank you. But this would mean that I create a new Store for every group, am I right?

[2021-12-10 10:18] mpweya commented on #47
You wrote about "contractible membership" but when as you described above, a new group session needs to be created if one leaves the group, isn't that the opposite @Tougee?

[2021-12-12 11:20] Tougee commented on #47
Create a new `_store` item inside `InMemorySenderKeyStore` is OK.

add a new function like below for `InMemorySenderKeyStore`,
[code]
then call this delete method when someone exit group,
[code]
and when next time call `loadSenderKey` it can create a new `SenderKeyRecord` for this group.

[2021-12-12 11:33] Tougee commented on #47
What I wrote about the concept of group chat was pasted from that paper, just a perspective , and I think the design of this is not associated with this project, you need to do research by yourself.

[2021-12-12 14:40] cremfert opened #48 "Production usage?"
Dear Mixin,

thanks a lot for providing such a great library - I'm thinking of using it in one of my production apps.
However, I have two questions regarding this:
- Do you consider this library already stable? Is it used somewhere in production?
- In your ratchet code (especially the ratchet session code) there is always hardcoded "Alice's session" and "Bob's session". Is this intended and real p

[2021-12-12 14:52] crossle commented on #48
1. Yes stable, we already use it in our desktop app [mixin messenger](https://mixin.one/mm)
2. Yes, we keep it naming like Java version libsignal

[2021-12-12 14:53] cremfert commented on #48
Thanks a lot for your answer!

[2021-12-12 14:53] #48 closed, assigned to nobody

[2021-12-12 18:35] cremfert opened #49 "Use other cryptographic libraries?"
Dear Mixin,
would it be possible to use other libraries like libsodium or Dart's cryptography package for the ed25510 or x25519 algorithms? Why did you choose to create your own dart ports of the respective Go libraries?

Thanks a lot!

[2021-12-13 02:06] crossle commented on #49
Some other dart library not export the some function for we usage. https://github.com/MixinNetwork/libsignal_protocol_dart/issues/40

[2021-12-16 06:58] mpweya commented on #47
great thank you, I'll try this.

[2022-01-07 11:24] ffpetrovic opened #50 "IdentityKeyStore getIdentity returns nob-nullable IdentityKey"
https://github.com/MixinNetwork/libsignal_protocol_dart/blob/master/lib/src/state/identity_key_store.dart#L14

Should it return `IdentityKey?` instead of `IdentityKey`? What if that identity with that address doesn't exist?

[2022-01-07 17:32] crossle commented on #50
Yes, I think should be `IdentityKey?`

[2022-01-11 11:54] coderGirl9796 opened #51 "Unhandled Exception: DuplicateMessageException - Received message with old counter: 1, 0"
Hello,

I'm getting above error when I try to decrypt the msg second time, is there any solution for it?

[2022-01-11 12:31] crossle commented on #51
You can only decrypt message once

[2022-01-11 17:16] ghost commented on #21
Would this work for ECPrivateKey as well? I just ask as I have to store it in a local file. Is the offset for `Curve.decodePoint` always `1`?

Thanks a lot!

[2022-01-12 06:19] crossle commented on #21
Because the first is the type, Curve.djbType, so when your wanna decode to curve alway start from 1.

[2022-01-12 06:37] crossle commented on #50
Fixed on 2662bebed5e77ab76db608552069bf0440ca611e

[2022-01-12 07:54] ffpetrovic commented on #50
Thank you

[2022-01-12 10:23] crossle commented on #50
Any PR welcome.

[2022-01-12 10:23] #50 closed, assigned to nobody

[2022-01-26 15:33] cremfert opened #52 "Deserialize IdentityKey"
I'm trying to deserialize an identity key that I stored in a file. For this, I used ```.serialize``` the key and then, to load it again, I use the ```IdentityKey.fromBytes``` method.

Here is a parameter required called ```offset```. Is this always ```0``` or does it have a different meaning?

Thanks a lot!

[2022-01-27 05:10] Tougee commented on #52
Seems like a redundant parameter here, welcome PR to fix this.

[2022-01-31 08:01] RahulAlchemy opened #53 "Assertion failed: Instance of 'InvalidKeyException'"
In my project i was using this version `libsignal_protocol_dart: ^0.3.0-nullsafety.0`.
When i updated to this version `libsignal_protocol_dart: ^0.5.5`  i'm getting this error  `Assertion failed: Instance of 'InvalidKeyException' `
on encryption but other then that decryption works perfectly.

I'm getting this error on this line
`CiphertextMessage encryptedMessage =
        await cipher.encrypt(Ui

[2022-02-05 15:46] crossle commented on #53
It's not logic change from the 0.3.0 to 0.5.

[2022-02-05 15:50] crossle commented on #52
The offset means if it's a DjbECPublicKey has a type on the prefix.

[2022-02-05 15:51] #51 closed, assigned to nobody

[2022-02-25 00:26] tjcampanella opened #55 "Any examples of projects using this?"
I am interested in using this library however I am not sure how exactly this is to be used. Is there any more examples or projects using this I can look at?

[2022-02-25 05:15] crossle commented on #55
We use it on our app https://github.com/mixinnetwork/flutter-app

[2022-03-07 23:06] XuanHanTan opened #56 "Is this interoperable with libsignal-protocol-java"
I was wondering if the serialised keypairs from this package can be read in the Java version. Is this possible?

[2022-03-08 04:01] Tougee commented on #56
I think it's possible because these serialized data are byte arrays.

[2022-03-12 00:42] XuanHanTan commented on #56
Seems like libsignal-protocol-java can't parse the serialised keys from libsignal-protocol-dart. What a bummer!

[2022-03-12 08:43] crossle commented on #56
No, interoperable no problem libsignal-protocol-java with libsignal-protocol-dart. because we use both in our production.
You can send a demo or example on here.

[2022-03-12 14:34] XuanHanTan commented on #56
By splitting the public/private keys, signature and id of the SignedPreKeyRecord instead of serialising the entire SignedPreKeyRecord, I could parse the keys in libsignal-protocol-java. On a side note, I am getting ArrayOutOfBounds errors on libsignal-protocol-java when generating a new signed prekey. It looks like it is related to protobuf. Do you have any experience with this?

[2022-03-13 07:22] crossle commented on #56
Can you share some code on here, we use this library on https://github.com/mixinnetwork/flutter-app, work well with libsignal-protocol-java on Android

[2022-03-22 12:15] XuanHanTan commented on #56
I actually managed to make it work by downgrading protobuf, thanks for your help! I will share some example code when I have time.

[2022-03-22 12:15] #56 closed, assigned to nobody

[2022-03-22 13:59] #55 closed, assigned to nobody

[2022-04-03 23:10] pzehle commented on #53
@RahulAlchemy did you manage to solve this? I am getting the exact same error and I don't know how to solve it.

[2022-04-04 06:04] RahulAlchemy commented on #53
@pzehle
Yes solved it.
Actually they change code for encryption and if you follow their release document you can  solved it too.

Old code

                       `  SessionBuilder.fromSignalStore(protocolStore, sender.address).processPreKeyBundle(bundle);
                          SessionCipher cipher = SessionCipher.fromStore(protocolStore, sender.address);
                         CiphertextMes

[2022-04-04 09:36] pzehle commented on #53
@RahulAlchemy yes thank you, did this the trick.

Although I am a noob regarding the Signal Protocol, and to be honest this library is not well documented, now I am having trouble with the decryption. By any chance do you have a project I can take a look at? Or even documentation explaining the process?

Now I am getting:

`No such signedprekeyrecord! 0` Any ideas?

Thank you.

[2022-04-04 12:12] crossle commented on #53
Follow this app https://github.com/mixinnetwork/flutter-app use this library.

[2022-04-04 12:14] pzehle commented on #53
I've tried to. I don't really understand what they are doing, and also there are some functions that differ from the ones in the library. I guess I am doomed then.

Thank you anyway.

[2022-06-02 22:21] Ahmadre commented on #47
how did you solve this at the end? Would be interested in this also.

[2022-06-09 09:53] crossle commented on #42
DONE on https://github.com/MixinNetwork/libsignal_protocol_dart/pull/43

[2022-06-09 09:53] #42 closed, assigned to nobody

[2022-07-13 04:18] tjcampanella opened #57 "Better Docs"
Firstly thank you for writing this package. I want to use this library, but it is unclear to me how to really get started. It says you have to implement certain classes but I want to see exactly how I should do so. Thanks!

[2022-07-13 07:07] crossle commented on #57
See here https://github.com/MixinNetwork/flutter-app/tree/main/lib/crypto/signal/storage

[2022-07-20 10:28] Tougee commented on #3
All tests are passed after https://github.com/MixinNetwork/libsignal_protocol_dart/commit/9b09dd877b755af23d9358c15b3018f591ba2a3b 🎉

[2022-07-20 10:28] #3 closed, assigned to nobody

[2022-07-20 10:28] #49 closed, assigned to nobody

[2022-07-20 12:26] #52 closed, assigned to nobody

[2022-08-05 07:37] magbdev opened #58 "InvalidMessageException - No valid sessions. [InvalidMessageException - Bad Mac!][0]"
Sometimes I get this type of error while decrypting. Do you know why this exception occurs? And how handle it?

[2022-08-05 07:49] crossle commented on #58
When the error occurs?

[2022-08-05 08:30] magbdev commented on #58
A session between two users is already set up and messages are exchanged, and at some point this error occurs. It seems to be a random moment.

[2022-08-09 05:55] crossle commented on #58
Try the test function. https://github.com/MixinNetwork/libsignal_protocol_dart/blob/master/test/session_cipher_test.dart#L170

[2022-08-12 13:33] ronpetit commented on #58
I'm receiving the same error message, in my case, it happens when i try to establish a new session with the mobile phone as the first recipient (I'm having a mobile client and a web client)

Somehow, it is just working when the APP the is the one to establish the session at first

[2022-08-12 16:49] ronpetit commented on #58
Actually, my problem is because the mobile starts a session and then the webapp doesn't answer inmediately, so after the webapp answer the mobile APP can be closed and when is restored it doesn't have the established session alive to be able to decrypt the message

[2022-09-07 08:54] carzacc commented on #27
It doesn't look like that's the case to me: the SPK and its signature (but not its ID) are nullable, but the OPK and its ID (which are supposed to be nullable) are not.

It's quite clear:
https://github.com/MixinNetwork/libsignal_protocol_dart/blob/master/lib/src/state/pre_key_bundle.dart

[2022-09-08 07:15] crossle commented on #27
https://github.com/MixinNetwork/libsignal_protocol_dart/blob/8387df165ecfadad9eeab2fd187d926bfb47282a/lib/src/session_builder.dart#L125  here the OPK proces if empty

[2022-09-10 09:15] carzacc commented on #27
I don't quite understand: how am I supposed to create a PreKeyBundle without an OPK if that constructor parameter is non-nullable?

[2022-09-10 10:56] crossle commented on #27
You can leave an empty data.

[2022-09-10 12:05] carzacc commented on #27
I can't use `null` because `_preKeyPublic` is non nullable, should I use a `DjbECPublicKey` created with a zero-length `Uint8List`?

[2022-09-10 12:09] crossle commented on #27
Yes

[2022-09-12 10:00] carzacc commented on #27
That doesn't work, if I pass a zero-length Uint8List to create a `DjbECPublicKey` when I call `processPreKeyBundle` it ends up being passed straight to the x25519 library which obviously doesn't accept it as valid.

[2022-09-12 10:02] carzacc commented on #27
Since it doesn't look like we're managing to understand each other, could you please tell me how one could edit https://github.com/MixinNetwork/libsignal_protocol_dart/blob/master/example/main.dart to make it work without an OPK?

[2022-09-13 02:48] Tougee commented on #27
Done with https://github.com/MixinNetwork/libsignal_protocol_dart/pull/60

[2022-10-09 05:35] abhay-s-rawat opened #61 "whisperType CiphertextMessage"
I am but confused with the following types of CiphertextMessage.

When we will get whisperType type message ? I guess it will be message when reciever bundle had no 1 time key present , right ? In that case when creating PreKeyBundle the int _preKeyId, ECPublicKey _preKeyPublic should be nullable , right ? as stated in https://signal.org/docs/specifications/x3dh/

[code]

[code]

bundle implementa

[2022-10-09 05:36] abhay-s-rawat commented on #61
I will do a pull request as soon I as I am finished with my example to make example more informative. Group part is remaining.

[2022-10-09 09:14] abhay-s-rawat commented on #61
Seems like its already implemented but not pushed to pub.dev.

can you please answer When we will get whisperType type message ?

[2022-10-09 09:51] Tougee commented on #61
Yes, nullable `one-time prekey` is implemented in https://github.com/MixinNetwork/libsignal_protocol_dart/commit/7a486a57efc1bc7026b8c7f5fd4cbe08d49d1b56 but are not yet published.

The `whisperType` is related to `SignalMessage`, and as part of the Double Ratchet Protocol, you will receive this type of message when users are texting each other.

[2022-10-09 11:47] crossle commented on #61
Published https://pub.dev/packages/libsignal_protocol_dart

[2022-10-09 13:08] abhay-s-rawat commented on #61
But I am always getting prekeyType message . What to do ?

[code]

[2022-10-09 13:39] Tougee commented on #61
whisperType messages are generated by encrypt in session_cipher.dart, and examples in session_cipher_test.dart

[2022-10-09 13:48] abhay-s-rawat commented on #61
Sorry for the confusion. When session is established from both ends I am getting whispertype messages. I am working on a example to demonstrate things clearly.
Well in latest PreKeyBundle we can establish session without one time pre keys, that ok but why are signedpre keys nullable ? Am I missing something ?
[code]

[2022-10-09 13:55] abhay-s-rawat commented on #61
I am currently decrypting like below, is there a class that is parent of both PreKeySignalMessage ,SignalMessage ?
Because I have to send message type in payload seperatly to deal with msg types.
[code]

[2022-10-09 14:48] Tougee commented on #61
I don't think this is necessary, but it will help this library have better interoperability with other libraries implemented by other languages, like Java. If we receive a nullable signed prekey from the Java side, then we can successfully deserialize and throw the right exception to the caller.

CiphertextMessage?

[2022-10-09 14:59] abhay-s-rawat commented on #61
CiphertextMessage is abstract.

Currently I am using a map which is jsonencoded as a payload to send , in that payload I was sending the type of message and while decrypting I was checking that type and decrypt accordingly.

I made example project look like below as soon as I finish for group , I will give pull request.
![Screenshot_1665327481](https://user-images.githubusercontent.com/84996356/19

[2022-10-09 15:11] Tougee commented on #61
This is great! Expect your PR.

[2022-10-10 15:31] abhay-s-rawat commented on #61
https://github.com/MixinNetwork/libsignal_protocol_dart/pull/62
Did pr.

[2022-10-11 03:31] abhay-s-rawat commented on #61
I was also thinking to show how to change signedprekeys but I fell short of vision. Did you remember "your security code has been changed with $user" from whatsapp, is it because of signed prekeys  or user changed phone and identity keys got reset .

How changing signed prekey will hurt existing sessions, can you help me out in this ? I have to update example for this.
Already gave fingerprint com

[2022-10-11 06:12] Tougee commented on #61
👍 Thanks for the great work, I'll review it asap.

AFAIK yes.

A new session should be established via the X3DH protocol if one side clear/reset keys.

[2022-10-11 07:41] abhay-s-rawat commented on #61
1 more thing to ask.
Some of the classes below throw errors when something is not present, can it return null if key not present instead of throwing error ?
like Future<PreKeyRecord> loadPreKey will become Future<PreKeyRecord?> loadPreKey.

[code]

[2022-10-11 08:02] Tougee commented on #61
No special reasons, we ported this library from Java and adopted this style.

[2022-10-11 09:20] abhay-s-rawat commented on #61
Actually I am thinking to make it more like dart implementation. Is it ok to do so ?

[2022-10-11 10:23] crossle commented on #61
This only for InMemoryPreKeyStore, You can implements your self PreKeyStore.

[2022-10-11 10:40] abhay-s-rawat commented on #61
Yes I implemented self store but the thing is the abstract class has "Future of PreKeyRecord loadPreKey" definition due to which all extented class must return non nullable objects.

[2022-10-12 08:58] abhay-s-rawat commented on #61
My self store published below, if you plan to change types to nullable rather than throwing errors , please do tell me by opening a issue in (https://github.com/abhay-s-rawat/libsignal_protocol_hive_store).
Thanks for your time.
https://pub.dev/packages/libsignal_protocol_hive_store

[2022-10-12 10:19] crossle commented on #61
Cool, Welcome PR

[2022-10-12 14:29] #61 closed, assigned to nobody

[2022-11-05 14:49] bcattaneo opened #63 "[REQUEST] Remove print to stdout "We've already setup a session for this V3 message, letting bundled message fall through...""
Hi,

Would it be possible to remove, or at least make it conditional in some way, this "log message"?

It is found in _lib\src\session_builder.dart_, specifically this section:
[code]

It is an undesired output that messes up my module's console output.

If you think it's a good idea, I could submit a PR and discuss there the best behavior for such logs

[2022-11-08 14:11] crossle commented on #63
Thanks.

[2022-11-08 14:11] #63 closed, assigned to nobody

[2022-11-16 04:14] jtkeyva opened #65 "is this project reliable or abandoned?"
been 16 months since any updates. what is the status of this package? should it be used or will it fade away and become fully unsupported?

[2022-11-16 04:16] jtkeyva commented on #65
oops, i was looking at the wrong versions. seems to be pretty healthy but not a lot of likes

[2022-11-18 07:04] Tougee commented on #65
This library is currently under maintenance and is working well.

[2022-11-18 07:04] #65 closed, assigned to nobody

[2022-11-21 11:25] WiRight commented on #58
same here

any updates with this issue?

[2022-11-22 01:29] Tougee commented on #58
Have the identities of the established session changed?